.add-form__fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr) 8px 39px;
  gap: 12px 24px;
  padding: 28px;
  margin-bottom: 32px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.add-form__field_product {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.add-form__field_category {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.add-form__field_units {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.add-form__field_discount {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.add-form__field_description {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.add-form__field_quantity {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.add-form__field_cost {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.add-form__field_img {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.add-form__label {
  display: block;
  padding-left: 9px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.add-form__input {
  padding: 10px;
  height: 40px;
  width: 100%;
  background-color: var(--field);
  border-radius: 6px;
}

.add-form__input:focus {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.add-form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: -50px;
}

.add-form__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--field);
  border-radius: 8px;
}

.add-form__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.add-form__checkbox:checked:after {
  opacity: 1
}

.add-form__checkbox:focus:before {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

.add-form__checkbox:not(checked)+.add-form__input {
  background-color: #EEEEEE;
}

.add-form__checkbox:checked+.add-form__input {
  background-color: var(--field);
}

.add-form__textarea {
  padding: 10px;
  width: 100%;
  height: 112px;
  background-color: var(--field);
  border-radius: 6px;
}

.add-form__textarea:focus {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.add-form__button-label {
  display: block;
}

.add-form__final {
  display: flex;
  justify-content: space-between;
  padding: 0 29px;
}

@media (max-width: 788px) {
  .add-form__fieldset {
    display: flex;
    flex-direction: column;
  }

  .add-form__field_img {
    max-width: 250px;
    align-self: center;
  }

  .add-form__final {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}