html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #F2F0F9;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #6E6893;
}

button {
  padding: 0;
  color: #fff;
  border: none;
}

h1,
p,
fieldset {
  margin: 0;
}

fieldset {
  border: none;
}

input,
textarea {
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

input[type="file"] {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}